/.idea/.idea.Automatic OSC Router/.idea/encodings.xml
/.idea/.idea.Automatic OSC Router/.idea/indexLayout.xml
/.idea/.idea.Automatic OSC Router/.idea/misc.xml
/.idea/.idea.Automatic OSC Router/.idea/vcs.xml
